<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>
        main{
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<body>
    <nav style="z-index: 9999;">
        <div class="logo">
            <img src="img/icon/Glitch.gif" alt="">
        </div>

        <div class="buttons">
            <button class="nv" data-text="Home"><a>Home</a></button>
            <button class="nv" data-text="Videos"><a>Videos</a></button>
            <button class="nv" data-text="About Us"><a>About Us</a></button>
            <button class="nv" data-text="Help"><a>Post</a></button>
            <button class="profile" onclick="toggleprofile()"><img src="img/movie pic/m1.jpg" alt=""></button>
        </div>

        

        <span class="tprofile">
            <button>Profile</button>
            <button>Saved</button>
            <button>Logout</button>
        </span>
    </nav>

    <main>

        <div></div>

    </main>

    <script src="sc.js"></script>


    
</body>
</html>